.parent {
  display: flex;
  justify-content: space-around;
}
.c {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.c1 {
  border: 1px solid black;

  background-color: red;
}
.c2 {
  border: 1px solid black;
  background-color: yellow;
}
.c3 {
  border: 1px solid black;
  background-color: blue;
}
